@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    text-align: center;

    padding: 20px;
    background-color: rgba(1, 76, 151, 0.907);;
}

h1, h2 {
    color: aliceblue;
    text-shadow: #003366;
}

#boasVindas {
  color: aliceblue;
  text-shadow: #003366;
}

input {
    margin: 10px;
    padding: 10px;
    width: 250px;
  }

  button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #005599;
  }

  table {
    margin: 20px auto;
    width: 80%;
    background: white;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ccc;
  }